body{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue ;
}
#buttonContainer{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}
.flexContainer{
    display: flex;
    justify-content: center;
}
#drawingContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 25%;
    transform: translate(-50%,-50%);
    display: grid;
}
.button{
    margin: 0px 10px 0px 10px;
    padding: 5px 5px 5px 5px ;
    background-color: cadetblue;
}


.pixel{
 background-color: aquamarine;
 
}

.painted{
    background-color: black;
}